#snake-field{
    display: inline-block; 
}
.snake-renew, .snake-start, .snake-start-nonactive {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  color: #d2bdff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}
.snake-start, .snake-start-nonactive {
    margin-right: 10px;
}
.snake-start-nonactive {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #d2bdff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}

.game-table{
    border-collapse: collapse;
    background-color:yellowgreen;
}
td.game-table-cell{
    width: 15px;
    height: 15px;                                  
    
}
.snake-unit {
    background-color: rosybrown;
    border-radius: 100px;
}
.food-unit {
    background-color: orangered;
    border-radius: 10px;
}
.problem-unit {
    background-color: aqua;
}
.buttons{
    display: inline-block;
}
.wrap{
    margin: 30px auto 0;
    text-align: center;
}

.score-text, .score-point {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc,
        0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
}


























.snake-start {
  border: 2px solid #d2bdff;
  height: 80px;
  width: 200px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 25px;

  &::after {
    content: "START";
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%);
    color: #d2bdff;
    transition: all 0.1s linear;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    background: #d2bdff;
    box-shadow: 0px 0px 10px 3px #0ff;
    margin-left: -8px;
    margin-top: -8px;
    opacity: 0;
    transition: all 0.1s linear;
    border-radius: 100%;
    animation: star 1.3s linear infinite;
  }

  @keyframes star {
    0% {
      margin-left: -8px;
      margin-top: -8px;
    }
    25% {
      margin-left: 194px;
      margin-top: -8px;
    }

    50% {
      margin-left: 194px;
      margin-top: 75px;
    }
    75% {
      margin-left: -8px;
      margin-top: 75px;
    }
    100% {
      margin-left: -8px;
      margin-top: -8px;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
      animation: star 1.3s linear infinite;
    }

    &::after {
      content: "GO";
      text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #82bedc,
        0 0 30px #82bedc, 0 0 40px #82bedc, 0 0 50px #82bedc, 0 0 60px #82bedc;
    }
  }
}

.snake-renew {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #d2bdff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;

  &:hover {
    border: 1px solid transparent;
  }
}
